header {
	background: rgba(0, 0, 0, 0.5);
	padding-top: 10px;
	height: 60px;
	width: 1920px;
	position: fixed;
	top: 0;
	left: 0;
	left: 0;
	right: 0;
	z-index: 200;
}
.nav-link{
 color: white;
font-size: 18px;
line-height: 21px;
}
.logo{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #F2C94C;
}
.btn{
	height: 40px;
	width: 179px;
	background: #F2C94C;
}
.banner{
	min-height: 100vh;
	min-width: 100%;
	background:url("bluemot.svg") no-repeat center;
	background-size: cover;
}
.banner{
	position: relative;
}
.banner-overlay{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.46);
	z-index: 10;
}
.banner-content{
	font-family: Roboto;
	font-style: normal;
	position: relative;
	text-align: center;
	z-index: 20;
}
h1{
	font-size: 64px;
	font-weight: 500;
	line-height: 52px;
	letter-spacing: 0em;
	margin-bottom: 64px;
	color: #FFFFFF;
}
.text-white{
	height: 85px;
	width: 440px;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	margin: 32px;
}

.btn1{
	font-weight: 500;
	background: #F2C94C;
	border-radius: 1px;
}
.card-img-top{
	height: 350px;
}
h3{
	margin-bottom: 25px;
}
.Title{
	font-family: Roboto;
	font-style: normal;
	text-align: center;
	width: 800px;
	margin: 70px 559px 60px 561px;
}
.card-text{
	height: 66px;
	width: 350px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 20px;
}
.btn2{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-decoration-line: underline;
	color: #000000;
}

h4{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 24px;
}
.future_mot{
	height: 360px;
	width: 540px;
	left: 982px;
	top: 120px;
	border-radius: 6px;
}
.text1{
	height: 226px;
	width: 458px;
	left: 478px;
	top: 196px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
}
.soc_block {
	background: #F2C94C;
	height: 250px;
	width: 1920px;
	margin-top: 120px;
}
h5{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	padding:47px 0px 10px 0px;
}
.img{
	height: 80px;
}
.center-img{
	text-align: center;
}
.footer{
	height: 380px;
	width: 1920px;
	background: #333333;
}
.container2{
	padding-top: 125px ;
	padding-right: 200px;
}
.b11{
	font-family: Roboto;
	flex-grow: 2;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
}
.tr{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	color: #F2C94C;
}
.b22{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	flex-grow: 1;
	color: #FFFFFF;
}
.hhh{
	color: #FFFFFF;
	font-family: Roboto;
	font-style: normal;
	font-weight: bolder;
	margin-bottom: 10px;
}
.b2{
	width: 50px;
	height: 90px;
	text-align: left;
}
.b3{
	width: 50px;
	height: 90px;
	text-align: left;
}
.b4{
	width: 50px;
	height: 90px;
	text-align: left;
}



